body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #f6f6f6;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Add Task */
.add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.add-task button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #6c63ff;
  color: white;
}

/* Task Item */
.task-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: white;
  margin-bottom: 10px;
  border-radius: 8px;
  align-items: center;
}

.task-item span {
  cursor: pointer;
}

.task-item .done {
  text-decoration: line-through;
  color: #888;
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.empty {
  text-align: center;
  color: #777;
}
